name: Demo Terraform Vultr Connect

on:
  push:
    branches:
      - demo_vultr_terraform

jobs:
  terraform-execute:
    runs-on: ubuntu-latest
    env:
      TF_LOG: TRACE
      VULTR_API_KEY: ${{ secrets.VULTR_API_KEY }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan  
        run: terraform plan -out=tfplan          

      - name: Terraform Apply
        run: terraform apply -auto-approve tfplan        